#!/usr/bin/env bash
set -euo pipefail

# 存在していれば開発時に使う共有されている環境変数群を読み込みます。
dotenv_if_exists .env.deve

# Nix Flakesのロード。
use flake . --accept-flake-config

# sopsで暗号化されたシークレットを復号して読み込みます。
# dotenvは内部でwatch_fileを呼ぶため、
# 復号ファイルを削除すると、
# direnvが変更を検知して毎回再評価を繰り返してしまいます。
# ファイルを残すことでwatch_fileを安定させます。
# 他のユーザから読めないことと、
# XDG_RUNTIME_DIRはOSによって定期的に自動消去されることで、
# セキュリティ上のリスクは許容可能です。
# どうせ成功したら環境変数に平文で展開されるので、
# リスクはほとんど増えていません。
sops_dotenv="$(umask 077 && mktemp "${XDG_RUNTIME_DIR:-/tmp}/direnv-sops-XXXXXXXXXX")"
if sops --input-type dotenv --output-type dotenv -d .env.sops >"$sops_dotenv" 2>/dev/null; then
  dotenv "$sops_dotenv"
else
  log_error ".env.sopsの復号に失敗しました。"
fi

# 存在していればローカルなカスタムが最後に優先されるように読み込みます。
dotenv_if_exists .env.local
