#!/usr/bin/env bash
set -euo pipefail

# 開発時に使う共有の環境変数を読み込みます。
# `dotenv_if_exists`はファイルが存在しなければ何もしません。
# deveはtypoではなく、deve, prod, stag, testと四文字に揃えた略称です。
dotenv_if_exists .env.deve

# Nix Flakesの開発環境をロードします。
use flake . --accept-flake-config

# sopsで暗号化されたシークレットを復号して読み込みます。
# dotenvは内部でwatch_fileを呼ぶため、
# 復号ファイルを削除すると、
# direnvが変更を検知して毎回再評価を繰り返してしまいます。
# ファイルを残すことでwatch_fileを安定させます。
# 他のユーザから読めないことと、
# XDG_RUNTIME_DIRはOSによって定期的に自動消去されることで、
# セキュリティ上のリスクは許容可能です。
# どうせ成功したら環境変数に平文で展開されるので、
# リスクはほとんど増えていません。
sops_dotenv="$(umask 077 && mktemp "${XDG_RUNTIME_DIR:-/tmp}/direnv-sops-XXXXXXXXXX")"
if sops --input-type dotenv --output-type dotenv -d .env.sops >"$sops_dotenv"; then
  dotenv "$sops_dotenv"
else
  log_error ".env.sopsの復号に失敗しました。"
fi

# GitHub MCPのために各自のGitHubのTokenを取得します。
# `GITHUB_TOKEN`にトークンを展開することは一般的に行われていることであり、
# 危険性はほぼありません。
# 悪意を持って環境変数にアクセスできる状況ならばどうせ基本的に`gh auth token`も起動できるはずです。
if gh auth status &>/dev/null; then
  GITHUB_TOKEN=$(gh auth token)
  export GITHUB_TOKEN
else
  log_error "GitHub CLI is not authenticated. Please run 'gh auth login' first."
fi

# ローカル固有の環境変数を最後に読み込んで優先させます。
dotenv_if_exists .env.local
