#!/usr/bin/env bash

# 開発時に使う共有されている環境変数群を読み込む。
dotenv_if_exists .env.deve

# Nix Flakesのロード。
use flake . --accept-flake-config

# 存在していればローカルなカスタムを優先して読み込んで、ハックしやすいようにする。
dotenv_if_exists .env.local
