name: check

on:
  push:
    branches: master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read # リポジトリコンテンツの読み取り
  actions: write # キャッシュアクションに必要

jobs:
  nix-flake-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
      - run: nix flake check

  format: # `nix flake check`で実行される`nix fmt`で対応していない範囲のフォーマットチェックを行う。
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
      - name: editorconfig-checker
        run: nix run 'nixpkgs#editorconfig-checker' -- -config .editorconfig-checker.json
